<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= c.name %></h1>
    <img src="/images/<%= c.image %>" alt="">
    <a href="updateprofile">update</a>
</body>
</html>